@charset "UTF-8";

@media (max-width:990px) {
    body {
        height: auto;
    }
  #sec1>div {
      width: 100%;
      margin: 0;
  }
  #sec1>div>img {
      width: 100%;
      height: 365px;
      margin: 0;
  }
  #sec1>div > p {
      top: 40%;
      left: 40%;
  }
  #sec2 {
      width: 90%;
      height: 1600px;
      margin: auto;
  }
  #sec3 > p {
      clear: both;
  }
  #bags>div:nth-child(4), #bags>div:nth-child(8) {
    margin-right: 40.444px;
    margin-bottom: 30px;
  }
  #sec3 {
      width: 90%;
      height: 1300px;
      margin: auto;
  }
  #sec3 > #bags2 {
      width: 100%;
      margin: 0;
      height: 1000px;
  }
  #sec3 >#bags2 >div, #sec3>#bags2>div:last-child  {

      margin-top: 100px;
      width: 45%;
      margin: 2%;
      height: 500px;
  }
  #sec3 >#bags2 >div >img {
      width: 100%;
  }

  #sec4 > p {
      clear: both;
  }
  #bags {
      width: 100%;
      height: 1450px;
  }
  #bags > div,#bags>div:nth-child(8),#bags>div:nth-child(4) {
      width: 45%;
      margin: 2%;
  }
  
  
}